body {
  box-sizing: border-box;
  /* background-color: aquamarine; */
}



.col-md-8 h2 {
      font-size: 30px;
      color: #92003d;
      text-transform: capitalize;
      text-align: center;
      font-family: 'Cinzel', serif;
      font-weight: 900;
      margin: 0px;
      padding: 20px 0px;
      padding: 10px 0px;
      font-weight: 800;
}
 
.wl{
  font-size: 30px;
  text-align: center;
    font-weight: 800;
    color: #92003d;
    text-transform: uppercase;
    margin-top: 5%;
}

.wl2{
  font-size: 35px;
  text-align: center;
    font-weight: 900;
    color: #ffbf18;
    text-transform: uppercase;
}

.wlp {
  font-size: 20px;
  text-align: center;
    font-weight: 600;
    color: #92003d;
    text-transform: uppercase;
    /* margin-top: 5%; */
}

.wlp2 {
  font-size: 18px;
  text-align: center;
    font-weight: 600;
    color: white;
}

.wlp3 {
  font-size: 20px;
  text-align: center;
    font-weight: 600;
    color: white;
}

.whats-app {
  width: 70px; 
  height: 70px;
  position: fixed;
  bottom: 40px;
  right: 15px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  /* box-shadow: 2px 2px 3px #999; */
  z-index: 100;
}

.tel {
  width: 70px; 
  height: 70px;
  position: fixed;
  bottom: 40px;
  left: 15px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  /* box-shadow: 2px 2px 3px #999; */
  z-index: 100;
}
.my-float {
  margin-top: 20px;
}

.wlpc {
  font-size: 20px;
  text-align: center;
    font-weight: 800;
    background-color: #92003d;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}
.wlc1 {
  font-size: 20px;
  text-align: center;
    font-weight: 800;
    /* background-color: #92003d; */
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

#cont3 {
  background-color: black;
  /* color: white; */
  text-align: center;
  height: 300px;
}

.btnd {
  text-align: center;
  text-decoration: none;
} 

.btn1{
  background-color: #92003d;
  color: white;
}
.osb {
  background-color: #ffbf18;
}

.btn1:hover {
  background-color: goldenrod;
  color: white;
}

.deadingimg {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%;
}

.wlw {
  text-align: justify;
  text-align-last: center;
}

#gtb {
  color: #92003d;
}
.col-md-8 marquee {
  color: #000000;
  background-color: #ffbf18;
  padding: 6px 15px;
  font-size: 20px;
  border-radius: 30px;
}
#pj {
  color: red;
}

.col-md-8 p {
  text-align: center;
  font-size: 20px;
  color: #92003d;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 900;
  margin: 0px;
  font-weight: 800;
}
